body
{
    font-family: 'Times New Roman', Times, serif;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x:center;
    backdrop-filter: blur(5px);
}
h1
{
    font-weight: bolder;
}